.property
  = label_tag 'product[allow_gift_wrapping]', t('workarea.admin.catalog_products.gift_wrapping_fields.allow_gift_wrapping'), class: 'property__name'
  = toggle_button_for 'product[allow_gift_wrapping]', product.allow_gift_wrapping?
